* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: blue;
    font-size: 32px;
    font-weight: 700;
    height: 100vh;
    border: 5px dashed brown;
}

div {
    background-image: url("../img/cat.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
}
