.nav {
    text-align: center;
    margin-bottom: 30px;
}

.nav li {
    display: inline;
    margin-left: 14px;
}

.nav a {
    color: #828282;
    text-decoration: none;
}

hr {
    width: 1000px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700 bold;
    margin-left: 256px;
    margin-top: 33px;
    font-size: 47px;
}

.header-photo {
    margin-left: 256px;
    margin-top: 30px;
    width: 1000px;
    padding-bottom: 70px;
}

.about-me {
    background-color: #f6f6f6;
    padding-bottom: 20px;
}

.heading-about-me {
    font-family: "Open Sans", sans-serif;
    font-weight: 700 bold;
    font-size: 34px;
    text-align: center;
    color: #070707;
    padding-top: 80px;
}

.p-1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-size: 18px;
    color: #070707;
    padding-bottom: 24px;
}

.p-2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-size: 18px;
    color: #070707;
    padding-bottom: 24px;
}

.p-3 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-size: 18px;
    color: #070707;
    padding-bottom: 80px;
}

.skills {
    background-color: white;
}

.skills h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700 bold;
    text-align: center;
    font-size: 34px;
    color: #070707;
    margin-top: 70px;
}

.skills-first-p {
    text-align: center;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-weight: 400;
    color: #070707;
    padding-bottom: 70px;
}

.ps {
    display: inline-block;
    margin-left: 200px;
}

.ai {
    display: inline-block;
    margin-left: 270px;
}

.ae {
    display: inline-block;
    margin-left: 270px;
}

.figma {
    display: inline-block;
    margin-left: 270px;
}

.p-ps {
    margin-left: 215px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #828282;
}

.p-ai {
    margin-left: 308px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #828282;
}

.p-ae {
    margin-left: 295px;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #828282;
}

.p-figma {
    margin-left: 295px;
    display: inline-block;
    margin-top: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #828282;
}

.ps-stars {
    display: inline-block;
    margin-left: 165px;
}

.ai-stars {
    display: inline-block;
    margin-left: 190px;
}

.ae-stars {
    display: inline-block;
    margin-left: 200px;
}

.figma-stars {
    display: inline-block;
    margin-left: 170px;
}

.portfolio {
    background-color: #f6f6f6;
}

.portfolio-heading {
    padding-top: 80px;
    padding-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700 bold;
    text-align: center;
    font-size: 34px;
    color: #070707;
    margin-top: 70px;
}

.portfolio-1-photo {
    display: block;
    margin: 0 auto;
}

.portfolio p {
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-size: 18px;
    text-align: center;
    color: #070707;
}

.portfolio a {
    color: #070707;
}

.portfolio-2-photo {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.portfolio-3-photo {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.contacts h2 {
    margin-top: 90px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700 bold;
    text-align: center;
    font-size: 34px;
    color: #070707;
}

.contacts-p-1 {
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px;
}

.contacts-button {
    width: 180px;
    height: 42px;
    background-color: #070707;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 18px;
    border-radius: 50px;
    margin-bottom: 60px;
}

.contacts-button:hover {
    cursor: pointer;
}

.contacts-linked-logo {
    display: inline-block;
    margin-left: 500px;
}

.contacts-insta-logo {
    display: inline-block;
    margin-left: 120px;
}

.contacts-behance-logo {
    display: inline-block;
    margin-left: 120px;
}

.contacts-ball-logo {
    display: inline-block;
    margin-left: 120px;
}

.contacts-p-2 {
    font-family: "Open Sans", sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #070707;
    margin-top: 70px;
}
