.browsers {

    margin: 0;
    padding: 4px;

}

.browsers li {

    display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;

}

.navigation {

    margin: 0;
    padding: 4px;
    text-align: center;

}

.navigation li {

    display: inline;
    margin-right: 5px;
    border: 1px solid #000;
    padding: 3px;

}
