/* General */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.everything-container {
    max-width: 940px;
    margin: 0 auto;
}

/* Header */
.main-header {
    padding: 25px;
    border-bottom: 1px solid #000;
    margin-bottom: 35px;
}

.main-header_nav {
    text-align: center;
}

.main-header_nav-link {
    margin-right: 45px;
    color: #828282;
    text-decoration: none;

}

.main-header_nav-link.active {
    color: #000;

}
