* {
    margin: 0;
    padding: 0;
}

body {
    width: 1445px;
    height: 4706px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 940.6px;
    height: 52.45px;
    left: 252px;
    top: 22.99px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation li {
    list-style: none;
}

.navigation a {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #828282;
    margin: 0 15px 40px 15px;
}

.navigation a:hover {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #070707;
}

.vector {
    position: absolute;
    width: 940.6px;
    height: 0;
    left: 252px;
    top: 74.94px;
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.photo {
    position: absolute;
    width: 946.31px;
    height: 489.96px;
    left: 249px;
    top: 109px;
}

.box {
    position: relative;
    width: 1445px;
    height: 517px;
    margin-top: 699px;
    background: #F6F6F6;
}

#about {
    position: absolute;
    left: 42.7%;
    right: 43.39%;
    top: 16.98%;
    bottom: 82.12%;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.rect {
    position: absolute;
    width: 480px;
    height: 246px;
    margin-left: 477.33px;
    margin-top: 171px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
}

.skills_pad {
    width: 1445px;
    height: 580px;
}

#skills {
    position: relative;
    left: 45.56%;
    right: 45.83%;
    top: 15.98%;
    bottom: 71.47%;
    width: 124.52px;
    height: 25.75px;
    margin-bottom: 22.16px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.skills_pad p {
    position: relative;
    top: 29.47%;
    bottom: 70.02%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
}

.skills_box {
    width: 936.59px;
    height: 396.14px;
    top: 15px;
    left: 254px;
    position: relative;
}

.skills_row {
    position: relative;
    width: inherit;
    height: 89.07px;
    left: 0;
    top: 172.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills_row li {
    list-style: none;
    position: relative;
}

.text_row {
    position: relative;
    width: inherit;
    height: 87.43px;
    left: 0;
    top: 172.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text_row li {
    list-style: none;
    position: relative;
    top: 18.85px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.star_row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 43.8px;
    top: 172.74px;
    width: inherit;
}

.star_row li {
    list-style: none;
}

.stars ul {
    position: relative;
    width: 234.13px;
    display: flex;
    flex-direction: row;
}

.star_row img {
    position: relative;
    width: 26.07px;
    height: 26px;
    margin-left: 15px;
}

.port {
    position: relative;
    width: 1445px;
    height: 2239px;
    background: #F6F6F6;
}

.port h2 {
    position: absolute;
    width: 171px;
    height: 42.52px;
    left: 637px;
    top: 118.76px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.port img {
    position: absolute;
    width: 936.24px;
    height: 510px;
    left: 254px;
}

.fashion {
    top: 229px;
}

.reebok {
    top: 905px;
}

.braun {
    top: 1593px;
}

.port figcaption {
    position: absolute;
    right: 40.47%;
    left: 584px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.cap-1 {
    top: 754.46px;
}

.cap-2 {
    top: 1434.81px;
}
.cap-3 {
    top: 2116.14px;
}

footer h2 {
    margin-top: 100.67px;
    left: 43.67%;
    right: 43.94%;
    top: 87.88%;
    bottom: 11.22%;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

footer p {
    left: 40.72%;
    right: 40.24%;
    top: 89.23%;
    bottom: 9.84%;
    margin-top: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
}

button {
    width: 180.5px;
    height: 42px;
    margin-left: 632.76px;
    margin-top: 78.14px;
    color: #F6F6F6;
    background-color: black;
    font-weight: bold;
    border-radius: 100px;
    font-size: large;
}

.icons {
    width: 340.82px;
    margin-left: 552px;
    margin-top: 37px;
}

.icons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.final-text {
    left: 41.73%;
    right: 41.45%;
    top: 95.28%;
    bottom: 3.38%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}
