body{
background-color: #f5f7fa;
}
.img1{
width: 1000px;
}
.img3{
height: 300px;
  }
.video{
border: none;
}
.video,.img3{
display: inline-block;
width: 45%;
}
iframe{
width: 83%;
height: 300px;
}
p,ul{
width: 80%;
}
.youtube{
border: none;
}
h2, h3{
font-size: 21px;
}
h4{
font-size: 30px;
}

